.spinner-border-abs-small {
    position: relative;
    width: 20px;
    height: 20px;
    border: .20em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
}

.chart-active {
    background-color:none;
}

.chart-inactive {
    background-color:gray;
}

.chart-with-margin {
   margin: 15px;
}